:root {
    --circle : gray;
    --fond : #2b2b2b;
    --text : #f1f1f1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    width: 100vw;
    height: 100vh;
    background-color: var(--fond);
    display: flex;
    justify-content: center;
    align-items: center;
}
#placement {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 99;
}
#aim:hover {
    fill: var(--circle);
    cursor: pointer;
}
.startMenu {
    text-align: center;
    color: var(--text);
    font-family: monospace;
    margin-top: 10%;
}
.scoreMenu {
    text-align: center;
    color: var(--text);
    font-family: monospace;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2%;
    display: none;
}