:root {
    --circle: gray;
    --fond: #2b2b2b;
    --text: #f1f1f1;
    --circle-error: rgb(255, 120, 120);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    width: 100vw;
    height: 100vh;
    background-color: var(--fond);
    display: flex;
    justify-content: center;
    align-items: end;
}
#placement {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 1;
    border-radius: 50%;
}
#placement:hover > #aim {
    fill: var(--circle);
    cursor: pointer;
}
.startMenu {
    text-align: center;
    color: var(--text);
    font-family: monospace;
    vertical-align: top;
    height: 50%;
}
.settings {
    margin-top: 25%;
}
.settings div {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.settings label {
    font-size: large;
    font-size: 20px;
    margin-right: 2%;
}
#time {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 30px;
    color: var(--text);
    font-size: 20px;
    border-bottom: 3px solid var(--circle);
    outline: none;
    appearance: none;
    margin-right: 2%;
}
#circleSize {
    background: var(--circle);
    cursor: pointer;
}
.timeMenu {
    text-align: center;
    color: var(--text);
    font-family: monospace;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2%;
    display: none;
}